#main-content{
    display: flex;
    min-height: 700px;
}
#leftbox{
    width: 70%;
    display: flex;
    flex-direction: column;
}
#p3-5{
    display: flex;
    min-height:78.5%;
    
}
#centerbox{
    width: 57%;
    min-height:78.5%;
}
#p3{
    width: 43%;
    background-color: #e087cb69;

    display: flex;
    padding: 20px;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
#p4{
    text-align: left;
    padding: 20px;
    background-color: #ba7bb395;
    display: flex;
    overflow: hidden;
    align-items: center;
}
#p5{
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height:58.5%;
}
#p1{
    background-color: #94b6d6;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: right;
}
#rightbox{
    width: 30%;
    background-color: #eaf1dd;
    padding: 20px;
    display: flex;

    align-items: center;
    text-align: right;
    
}
body{
    font-size: 1.3em;
    min-width: 480px;
    display: flex;
    flex-direction: column;
}
footer{
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
	background-color: #94b6d6;
	overflow: hidden;
    display:flex;
    min-height: 20%;
    align-items: center;
}
#headfoot {
    border: 2px solid black;
	margin-right: 20px;
	padding: 10px;
	min-width: 20%;
	background-color: #ffffff;
    text-align: right;
}
#head {
    border: 2px solid black;
	margin-left: 20px;
	padding: 10px;
	min-width: 20%;
    text-align: right;
	background-color: #ffffff;
}
#first{
    margin-right: 50px;
}







#p1 a{
    font-size: 15px;
    border: 2px solid #597996;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 8px 5px 5px #597996;
    color: black;
    padding: 5px;
    margin-bottom: 15px;
}
#p1 a:hover{
	box-shadow: 10px 5px 5px rgba(184, 210, 79, 0.772);
	border: 2px solid black;
}
.here{
	border: 2px solid black;
    background-color:#6a88a4;
}
#row {
    width: 60%;
    text-align: right;
    margin-right: 2%;
    font-size: 1.3em;
    display: block;
    padding-left: 35%;
}


/* copy1 */

#OL{
    counter-reset: li; 
    list-style: none; 
    font: 14px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
#OL a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #D3D4DA;
    color: #444;
}
#OL a:hover {background: #DCDDE1;}  
#OL a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #597996;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}
/* copy 2 */
.image{
    text-align: center;
    width: 100%;
    align-items: center;
}
#p5_3{
    background-color: #ffffff;
    padding: 0px;
    display: flex;
    overflow: hidden;
    align-items: center;
    text-align: center;
}
/* copy 4 */
#cats{
    text-align: left;
    color: #000000;
}
#cats:hover{
    background-color: #6a88a4;
}